<h3 id="notice"><%= notice %></h3>

<p>
  <b>Full name:</b>
  <%= @membership.full_name %>
</p>

<p>
  <b>Gender:</b>
  <%= @membership.gender %>
</p>

<p>
  <b>Dojo:</b>
  <%= @membership.dojo %>
</p>

<p>
  <b>Rank:</b>
  <%= @membership.rank %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @membership.date_of_birth %>
</p>

<p>
  <b>Date started:</b>
  <%= @membership.date_started %>
</p>

<p>
  <b>Weight:</b>
  <%= @membership.weight %>
</p>

<p>
  <b>Height:</b>
  <%= @membership.height %>
</p>

<p>
  <b>Email:</b>
  <%= @membership.email %>
</p>

<p>
  <b>Contact:</b>
  <%= @membership.contact %>
</p>

<p>
  <b>Name:</b>
  <%= @membership.name %>
</p>

<p>
  <b>Address:</b>
  <%= @membership.address %>
</p>

<p>
  <b>Contact #:</b>
  <%= @membership.contact1 %>
</p>


<%= link_to 'Back', memberships_path %>
